{% extends 'layouts/app.html' %}
{% set page = 'home' %}
{% block content %}
    {#<div class="tile">
        <div class="tile-body">Welcome to a beautiful dashboard</div>
    </div>#}
    <div class="row">
        <div class="col-md-6">
            <div class="tile">
                <h3 class="tile-title">Humidity</h3>
                <hr>
                <div class="embed-responsive embed-responsive-16by9">
                    <canvas class="embed-responsive-item" id="humidityChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="tile">
                <h3 class="tile-title">Temperature</h3>
                <hr>
                <div class="embed-responsive embed-responsive-16by9">
                    <canvas class="embed-responsive-item" id="temperatureChart"></canvas>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/chart.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/plugins/chartjs-plugin-streaming.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/socket.io.js') }}"></script>

    <script type="text/javascript" charset="utf-8">
        
    </script>
    <script type="text/javascript">
        let ctx = document.getElementById('temperatureChart').getContext('2d');

        let tempChart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [{
                    label: 'Temperature(°C)',
                    borderColor: 'rgb(255, 99, 132)',
                    backgroundColor: 'rgba(255, 99, 132, 0.5)',
                    lineTension: 0,
                    borderDash: [8, 4],
                    data: []
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'realtime',
                        realtime: {
                            delay: 4000,
                            refresh: 2000,
                            /*onRefresh: function (chart) {
                                chart.data.datasets.forEach(function (dataset) {
                                    dataset.data.push({
                                        x: Date.now(),
                                        y: Math.random()
                                    });
                                });
                            }*/
                        }
                    }]
                }
            }
        });
        let ctx2 = document.getElementById('humidityChart').getContext('2d');
        let humidChart = new Chart(ctx2, {
            type: 'line',
            data: {
                datasets: [{
                    label: 'Humidity (% H2O)',
                    borderColor: 'rgb(54, 162, 235)',
                    backgroundColor: 'rgba(54, 162, 235, 0.5)',
                    lineTension: 0,
                    borderDash: [8, 4],
                    data: []
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'realtime',
                        realtime: {
                            delay: 4000,
                            refresh: 2000,
                            /*onRefresh: function (chart) {
                                chart.data.datasets.forEach(function (dataset) {
                                    dataset.data.push({
                                        x: Date.now(),
                                        y: Math.random()
                                    });
                                });
                            }*/
                        }
                    }]
                }
            }
        });
        
        let socket = io('192.168.43.180:3000');
        socket.on('connect', function() {
            console.log("Connected to socket server...");
            
            socket.on('technocrat/temp', function (data) {
                console.log('technocrat/temp: ', data)
                tempChart.data.datasets[0].data.push({
                    x: data.date,
                    y: data.value
                });
                tempChart.update({
                    preservation: true
                });
            });
            socket.on('technocrat/humid', function(data) {
                humidChart.data.datasets[0].data.push({
                    x: data.date,
                    y: data.value
                });
                humidChart.update({
                    preservation: true
                });
            });
        });
        
       
    </script>
{% endblock %}
